@import "../../../../Scss/index.scss";


.botones{
   display: flex;
   justify-content: space-between;
}

.ver{
    padding-left: 20px;
}

.del{
    padding-left: 20px;
}

@media (max-width: 500px  ){
    .boton{
        margin-top: 50px;
        align-items: flex-end;
        //margin-inline-end: 100%;
        padding-right: 100%;
    }

    .editar{
        padding-right: 20%;
        background-color: red;

    }
    .ver{
        padding-left: 40px;
    }
    .del{
        padding-left: 20px;
    }
}

