
.avatar{
    display: table;
    margin: 0 auto;
    border: 2px solid #9a9a9a;
    border-style: dashed;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 20px;
    
}

.dato1{
    margin-top: 10px;

}

.dato2{
    margin-top: 10px;
}

.boton{
    width: 100%;
}