@import "../../Scss/variables";

.logo {
  height: 50%;
  width: 200%;
}
.notify {
  padding-left: 30%;
}
.df {
  margin-top: 3%;
  width: 100%;
  align-items: center;
  align-content: center;
  padding-left: 20%;
}

.dm {
  margin-top: 3%;
  width: 100%;
  align-items: center;
  align-content: center;
  padding-left: 10%;
}

.dos {
  padding-left: 20%;
}

@media (max-width: 500px) {
  .logo {
    height: 200%;
    width: 500%;
  }

  .df {
    margin-top: 30%;
  }
}
