@import "../../../Scss/index.scss";

.covid_add-covid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.nuevo{
    margin-left: -80%;
}


@media (max-width: 500px  ){
   
    
}