@import "../../../Scss//index.scss";

.extintor{


    &__add-extintor{
        text-align: right;
        margin-bottom: 20px;
        margin-top: 2%;
    }

    .sede{
        margin-right: 2%;
    }

    .bloque{
        margin-right: 2%;
    }
        
}